
/* page layout */

html {
    background:         #f5f5f5;
}

body {
    background:         inherit !important;
	font-size: 			14px;
}

.container {
    margin-top:         30px;
    background:         #fff;
    border-radius:      10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

td.nqerror {
    font-family:        inherit !important;
    font-size:          inherit !important;
}



/* Bootstrap overrides */


.btn {
    white-space: normal;
}
/* Add padding */

.padding {
    padding:            30px;
}

/* nq elements style and layout */

.nqtextblock {
    padding:            20px 0 0 0;
    margin-left:        -4px;
	font-size: 			14px;
}

.nqquestion {
    padding:            20px 0 0 0;
    font-weight:        bold;
}

.nqoption label {
    font-weight:        normal;
    padding-left:       10px;
}

.nqodd, .nqeven {
    padding:            10px 0;
}

.nqbutton {
    margin:             10px 5px 10px 0;
}

.nqmatrixodd, .nqmatrixeven {
    font-weight:        normal;
}

.nqmatrixodd {
    background:         #e0e0e0 !important;
}

.nqcolumnodd, .nqcolumneven {
    font-weight: normal;
}

/* Mobile Matrix */

        @media (max-width: 767px) {

            table, body, tbody, tr, td {
                display:            block;
            }


            td {
                float:              left;
            }

            tr {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }

            .nqmatrixodd, .nqmatrixeven {
                padding: 3px 10px 3px 1px;
                background: #ffffff !important;
            }

            .nqmatrixodd > input, .nqmatrixeven > input {
                margin-right: 5px;
            }

            .nqcolumnodd, .nqcolumneven {
                font-size: small !important;
            }

            .nqodd {
                overflow: scroll;
                max-height: 400px;
            }

            .nqodd > table > tbody > tr > td > table > tbody > tr > td {
                display: table-cell;
                float: none;
                padding-left: 1px;
            }

            .nqodd > table > tbody > tr > td
            {
                display: block;
                width: 100%;
                text-align: left;
            }
            .nqodd > table > tbody > tr:first-child {
                text-align: right;
            }
            .nqodd > table > tbody > tr:first-child > td {
                /*width: 100px;*/
            }

            .nqodd > table > tbody > tr:not(:first-child) > td:first-child {
                display: block;
            }

            .nqodd > table > tbody > tr > td > table > tbody > tr > td:first-child {
                vertical-align: top;
                padding-top: 3px;
            }

            .nqeven {
                overflow: scroll;
                max-height: 400px;
            }

            .nqeven > table > tbody > tr > td > table > tbody > tr > td {
                display: table-cell;
                float:none;
                padding-left: 1px;
            }

            .nqeven > table > tbody > tr > td
            {
                display: block;
                width: 100%;
                text-align: left;
            }
            .nqeven > table > tbody > tr:first-child {
                text-align: right;
            }
            .nqeven > table > tbody > tr:first-child > td {
                /*width: 100px;*/
            }

            .nqeven > table > tbody > tr:not(:first-child) > td:first-child {
                display: block;
            }

            .nqeven > table > tbody > tr > td > table > tbody > tr > td:first-child {
                vertical-align: top;
                padding-top: 3px;
            }

        }